@font-face {
    font-family: JosefinSans-Medium;
    src: url(./font/JosefinSans-Medium.ttf);
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url(./font/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url(./font/JosefinSans-Bold.ttf);
}

* {
	scrollbar-color: #454a4d #202324;
}

:root {
	--black: #000000;
	--grey: #5c6d5a;
	--pacific-blue: #2ba8cb;
	--usafa-blue-hover: #00508f;
	--usafa-blue-visited: #005CA3;
	--usafa-blue: #0068B8;
	--ghost-white: #f5f7fb;
	--dark-grey-blue: #20222C;
	--lighter-grey-blue: #7C81A2;
}


body {
 	background: #f5f7fb;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

header {
	font-family: JosefinSans-Medium;
	font-size: 1.4em;
	background-color: var(--usafa-blue);
}

header .button {
	position: relative;
	top: 15%;
	display: flex;
	justify-content: center;
}

header a {
	color: var(--ghost-white);
	margin: 0.4% 2em;
	background-color: var(--usafa-blue);
	border-radius: 5px;
	padding: 0.8em 0.9em;
}

header a:hover {
	background-color: var(--usafa-blue-hover);
}

header #visit {
	background-color: var(--usafa-blue-visited);
}




@keyframes fadeInUp {
	100% {
		opacity: 0;
		transform: translateY(20%);
	}

	50% {
		opacity: 1;
		transform: translateY(0);
	}

	0% {
		opacity: 0;
		transform: translateY(20%);
	}
}

.animate {
	animation: fadeInUp 2s;
	animation-play-state: paused;
}


#bandeaufin{
	width:100%;
	position: relative;
	top:20px;
}

#creditBar {
	margin-top:0px;
	background-color: var(--dark-grey-blue);
	min-height: 100px;
	color: var(--lighter-grey-blue);
	font-size: 15px;
}

#creditBar p {
	text-align: end;
	margin-right: 5%;
	max-height: 30px;
	position:relative;
	top:35px;
	font-size: 15px;
	font-family: JosefinSans-Regular;
	color: black;
}


footer{
	position:relative;
	top:5%;/*
	display: flex;*/
}

footer #creditBar {
	display: flex
}

footer #creditBar p {
	width:50%;
}

footer #icones {
	width:50%;
	max-height: 50px; 
	position: relative;
	top: 2vw;
}

footer ul{
	color: #20222c;
	display: flex;
	align-items: end;
}

footer ul img {
	max-width: 30px;
	max-height: 30px;
}

footer li {
	margin: 0 5%;
}

h1 {
	font-size: 110px;
	font-family: JosefinSans-Bold;
	color:var(--dark-grey-blue);
}

h2{
	font-size: 55px;
	font-family: JosefinSans-Bold;
	color:var(--lighter-grey-blue);
	

}

p {
	font-size: 22px;
	font-family: JosefinSans-Medium;
	color:var(--grey);
}

a{
	font-size: 22px;
	font-family: JosefinSans-Medium;
	color:var(--dark-grey-blue);

}

#bandeau {
	display: flex;
}

#bandeau1 {
	width: 30%;
		
}

#bandeau2 {
	width: 70%;
}

.frame div{
	max-width: 100%;
	
}

.boxText {
	margin-left:5%;
	margin-right: 5%;	
	width: 95%;
	height: 30%;
	text-align: justify;
	text-justify: inter-word;
}

.boxText h1 {
	margin: 2;
	position: relative;
	bottom: 2vw;
	color:var(--dark-grey-blue);
}

.boxText p {
	margin: 0;
	width: 35%;
	position: absolute;


}



#MotionCapture img {
	width: 40%;
	height: 100%;
	position: relative;
	margin-left: 40%;
}


.boxText2 h1{

	font-size: 107px;
}

#ImagedeSynthèse{

	margin-top: 10%;
	
}


#ImagedeSynthèse img{
	width: 50%;
	height: 100%;
	position: relative;	
	margin-left: 40%;

	
}

#ISTITRE{
	margin-top: 20%;

}
	

#videoTournage{
	text-align: center;
	width: 80%;
	height: 22.5vw;
	margin-left: 10%;
}

#videoTournage iframe {
	width: 50%;
	height: 100%;
	margin: 0 2%;
}

#videoTournage #iframe {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#scenetournage{
	margin-top: 15%;

}

#scenetournage h1{
	text-align: center;
}

.boxText2 {
	margin: 0 5%;	
	width: 90%;
	text-align: justify;
	text-justify: inter-word;
}

#etapeProduction{
	margin-top: 20%;
}





#Prepro{
	margin-left: 55%;
	height: 100%;
	width: 47%;
	position: relative;
	bottom: 44vw;
	text-align: justify;
}

#conception {
	margin-right: 55%;
	height: 100%;
	width: 47%;
	text-align: justify;
}


#Production {

	margin-right: 55%;
	height: 100%;
	width: 47%;
	position: relative;
	bottom: 29vw;
	text-align: justify;

}


#postpro{
	margin-left: 55%;
	height: 100%;
	width: 47%;
	text-align: justify;
	position: relative;
	bottom: 29vw;


}

#conception img{

	position: relative;
	bottom:0vw;
	
	width: 100%;
	

	
}



